html {
    background-color: rgb(236, 236, 236);
}

a {
    background-color: red;
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
}

/*header*/
.fixed-bar {
    height: 70px;
}
.page-title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #521751;
    color: white;
    padding: 10px 0px;
    margin: 0;
    text-align: center;
}

/*nav*/
.navigation {
    text-align: center;
    padding: 0px;
}
.navigation li, .navigation a {
    background-color: rgb(177, 177, 174);
    display: inline-block;
    width: 70px;
}

/*main*/
.trip-text {
    background-color: #fa923f;
    padding: 0;
    display: flex;
} 

.trip-text p {
    background-color: #521751;
    color: white;
    text-align: center;
    margin: 0;
    width: 50%;
    height: 100%;

}

.trip-images {
    display: flex
}

.trip-images img {
    width: 50%;
}

.feedback {
    position: relative;
    bottom: 18.4px;
    background-color: #521751;
    color: white;
    text-align: center;
    margin: 0;
}

/*footer*/
.review-clients {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    border: 1px solid black;
    background-color: white;
    margin: 10px;
}

.review-clients img {
    width: 120px;
}

.review-cleints p {
    width: 350px;
    text-align: center;
}